body,
* {
  max-width: 100% !important;
}

body {
  background-image: url("../src/assets/sunrise.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.container {
  max-width: 900px !important;
  font-family: "Bad Script", cursive;
  background-color: transparent;
  color: #fff;
  margin: 0 auto;
  width: 900px;
}

.input-field {
  width: 50%;
  border: 3px solid #b5deff;
  border-radius: 10px;
  background-color: #fff;
  height: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: #a8ceff;
  font-size: 20px;
  padding: 10px;
}

.weather-app {
  text-align: center;
  margin-top: 30px;
}

.btn-search-engine {
  border-radius: 10px;
  color: #fff;
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: bold;
}
.btn-search {
  border: none;
  background-color: #fbc1bf;
}

.btn-search:hover {
  border: 3px solid #fcffa6;
  cursor: pointer;
}

.btn-location {
  border: none;
  background-color: #a8ceff;
}

.btn-location:hover {
  border: 3px solid #fcffa6;
  cursor: pointer;
}

.temperature,
#temperature-change {
  font-family: "Roboto", sans-serif !important;
  color: #a8ceff;

  text-shadow: 2px 2px 0px #baffe3, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.temperature {
  margin-left: 30px;
  font-size: 30px;
}

#temperature-change {
  font-size: 75px;
}

.center-temp {
  text-align: center;
  margin: 0 auto;
}

.date {
  font-size: 22px;
  color: #f37021;
}

.emoji-weather-temp {
  margin: 0;
  width: 120px;
  width: 150px;
}

.btn-group-cel-fah {
  font-family: "Roboto", sans-serif !important;

  width: auto;
  border: 1px;
}

.btn-temp {
  font-size: 15px;
  width: 30px;
  color: #fff;
  margin-top: 20px;
  border: none;
  border: 2px solid #f8ffc9;
}

#celsius {
  border-radius: 10px 0 0 10px;
  background-color: #a8ceff;
}
#celsius:hover {
  cursor: pointer;
  background-color: #fff;
  color: #a8ceff;
}

#fahrenheit {
  border-radius: 0px 10px 10px 0px;
  background-color: #fbc1bf;
}
#fahrenheit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #fbc1bf;
}

.mim-max-info {
  font-size: 18px;
  width: auto;
  color: #e54097;
}

.info-weather-currenty-day {
  color: #00a98f;
  font-size: 25px;
}

/* .feels-like {
  font-family: "Roboto", sans-serif !important;
  font-style: italic;
} */

/* Aqui é onde tem o border da parte com as informaçoes de tempo do dia */
.main-information {
  width: 900px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 5px solid rgba(186, 255, 227, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.weather-text {
  font-size: 26px;
  font-weight: 400;
  margin-top: 12px;
  color: black;
}

.btn-emoji {
  font-size: 20px;
  align-self: center;
}

.btn-emoji-search {
  color: #baffe3;
}

.btn-emoji-map {
  color: #fbc1bf;
}

.selected-city {
  text-align: center;
  font-size: 80px;
  margin-top: 30px;
  color: #3377b5;
}

.map-padding {
  padding: 8px;
}

ul {
  list-style-type: none;
}

.next-days {
  width: 900px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  border: 5px solid rgba(248, 255, 201, 1);
  border-radius: 10px;
}

.next-days p {
  margin-top: 10px;
}

img {
  width: 155px;
  margin-top: 10px;
}
